$cyan: hsl(180, 62%, 55%);
$red: hsl(0, 78%, 62%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);
$very-dark-blue: hsl(234, 12%, 34%);

$font-size: 15px;
$font-poppins: "Poppins", sans-serif;
$font-200: 200;
$font-400: 400;
$font-600: 600;
